@import: "components/navbar.css";
@import: "components/banner.css";
@import: "components/button.css";

body {
border: 0px;
padding: 0px;
margin: 0px;
background-color: #35556d;
}

* {
  font-family: 'Libre Franklin', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
