@import: "components/navbar.css";
@import: "components/banner.css";
@import: "components/button.css";

body {
border: 0px;
padding: 0px;
margin: 0px;
}

* {
  font-family: 'Libre Franklin', sans-serif;
  background-color: #35556d;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  padding: 0.3rem;
  color: #faebd7;
}

button {
  border: none;
  padding: 1rem;
}
