@import: "components/navbar.css";
@import: "components/banner.css";
@import: "components/button.css";

body {
border: 0px;
padding: 0px;
margin: 0px;
font-family: 'Libre Franklin', sans-serif;
background-color: white;
}

section h3 {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

form  {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 0;
  margin: 0 auto;
  width: 40%;
  border: 1px solid black;
  border-radius: 25px;
}

form label {
  clear: both;
  float: left;
}

form input,
form textarea,
form select {
  clear: both;
  float: right;
  width: 220px;
}

.form-group {
  padding: 0.3rem;
  /* color: #faebd7; */
}

button {
  border: none;
  padding: 1rem;
}
