<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>

    <section>
      <h3>Register a charity project</h3>
      <p>Every field is required</p>
    </section>

    <form id="app" action="/charities" method="post" class="pure-form pure-form-aligned">
      <div class="form-group">
        <label class="" for="charity">Charity name</label>
        <input class="" type="text" name="charity" />
      </div>

      <div class="form-group">
        <label class="" for="email">Email</label>
        <input class="" type="email" name="email" />
      </div>

      <div class="form-group">
        <label class="" for="cause">Cause</label>
        <select class="" type="text" name="cause" >
          <option v-for="cause in causes" v-bind:value="cause">{{cause}}</option>
        </select>
      </div>

      <div class="form-group">
        <label class="" for="location">Location</label>
        <input class="" type="text" name="location" />
      </div>

      <div class="form-group">
        <label class="" for="project">Project</label>
        <input class="" type="text" name="project" />
      </div>

      <div class="form-group">
        <label class="" for="summary">Summary</label>
        <textarea name="summary" class="" type="text"></textarea>
      </div>

      <div class="form-group">
        <label>Skills</label>
        <div v-for="skill in skills">
          <label class="" for="keywords">{{skill}}</label>
          <input class="" type="checkbox" name="keywords" v-bind:value="skill" />
        </div>
      </div>

      <div class="form-group">
        <label class="" for="qualification">Qualification</label>
        <select class="" type="text" name="qualification" >
          <option v-for="qualification in qualifications" v-bind:value="qualification">{{qualification}}</option>
        </select>
      </div>

      <div class="form-group">
        <label class="" for="availability">Availability</label>
        <input class="" type="text" name="availability" />
      </div>

      <div class="form-group">
        <label class="" for="experienceLevel">Experience Level</label>
        <input class="" type="text" name="experienceLevel" />
      </div>

      <button type="submit" name="button">
        <img src="/assets/images/Find_my_volunteers.jpg" width="50%" />
      </button>
    </form>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          causes: [],
          skills: [],
          qualifications: []
        },
        mounted: function() {
          var self = this;

          fetch('/suggest/causes').then(res => res.json()).then(data => {
            self.causes = data
            self.$forceUpdate()
          }).catch(error => console.error(error))

          fetch('/suggest/skills').then(res => res.json()).then(data => {
            self.skills = data
            self.$forceUpdate()
          }).catch(error => console.error(error))

          fetch('/suggest/qualifications').then(res => res.json()).then(data => {
            self.qualifications = data
            self.$forceUpdate()
          }).catch(error => console.error(error))


        }
      })
    </script>

  </body>
</html>
